@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.layanan-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Sesuaikan jarak antar item */
}

.layanan-item {
  text-align: center;
}

@media (max-width: 767px) {
  .layanan-grid {
    grid-template-columns: repeat(8); /* Ubah menjadi 2 kolom pada handphone */
  }
}
